/* .header{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 2.25rem;
    font-weight: bolder;
    border-bottom: 1px solid rgb(224, 224, 224);
    align-items: center;
} */


.header {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}
